:root {
	--border-color: #ddd;
	--radius: 6px;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	display: grid;
	column-gap: 15px;
	grid-template-columns: 1fr 400px;
	grid-template-rows: 1fr auto;
	grid-template-areas: "tree-view console" "metadata console";

	height: 100vh;
	margin: 0;
	padding: 10px;
	line-height: 1.4;

	font-family: sans-serif;
}

svg {
	display: block;
}

button {
	cursor: pointer;
	font-size: initial;
	padding: 4px 10px;
}

pre {
	margin: 0;
}

code {
	font-family: Monaco, Liberation Mono, DejaVu Sans Mono, Consolas, Courier New, monospace;
	line-height: 1.4;
}

table {
	border-collapse: collapse;
	width: 100%;
	border: solid 1px #cfcfcf;
}

th, td {
	padding: .5rem 1rem;
	border: 1px solid #ccc;
}

thead th {
	vertical-align: bottom;
}

tbody > tr:hover {
	background-color: rgba(0, 0, 0, 0.04);
}
