/* 用于隐藏不需要的控件 */
.hide {
	display: none;
}

#tree-view {
	grid-area: tree-view;
	position: relative;
}

#console {
	grid-area: console;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}

#console-head {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(90px, auto));
	grid-gap: 5px;
	margin-bottom: 16px;
}

.tab-button {
	display: block;
	padding: 6px;
	text-align: center;
	border-radius: var(--radius);
	transition: .15s;
	cursor: pointer;
}

.tab-button:hover {
	background: rgba(0, 161, 242, 0.08);
}

.tab-button.active {
	background: #0c7ff2;
	color: white;
}

#forms > form {
	display: none;
	background-color: #fafafa;
	border-radius: var(--radius);
	padding: 1px 16px;
}

#forms > form.active {
	display: block;
}

#forms > form input {
	margin-left: auto;
}

.field {
	display: flex;
	align-items: center;
	margin: 15px 0;
}

#actions {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	margin-bottom: 16px;
	background-color: #fafafa;
}

.result {
	display: none;
}

.box {
	padding: 8px;
	border: solid 1px #eee;
	border-radius: var(--radius);
	background: #f7f7f7;
}

.info {
	display: flex;
	margin: 8px;
}

.info > label {
	margin-left: auto;
}

#list-result {
	flex: 1;
	overflow: auto;
}

#error-result {
	border-color: #ff7d7d;
}

#metadata {
	grid-area: metadata;
	border-top: solid 1px var(--border-color);
}

#sql {
	display: block;
	height: 7em;
	overflow-y: auto;
	white-space: break-spaces;
}

#shell-loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

#shell-loading::before,
#shell-loading::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 4px solid transparent;
}

#shell-loading::before {
	border-top-color: rgba(0, 170, 255, 0.5);
	animation: circle-spinner 1s infinite;
}

#shell-loading::after {
	border-bottom-color: rgba(0, 170, 255, 0.5);
	animation: circle-spinner 1s infinite alternate;
}

@keyframes circle-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
