/* 用于隐藏不需要的控件 */
.hide {
	display: none;
}

#tree-view {
	grid-area: tree-view;
	position: relative;
}

.result {
	display: none;
}

.box {
	padding: 8px;
	border: solid 1px #eee;
	border-radius: var(--radius);
	background: #f7f7f7;
}

.info {
	display: flex;
	align-items: center;
	margin: 8px;
}

.info > label {
	margin-left: auto;
}

#list-result {
	flex: 1;
	overflow: auto;
}

#error-result {
	border-color: #ff7d7d;
}

#metadata {
	grid-area: metadata;
	border-top: solid 1px var(--border-color);
}

#sql {
	display: block;
	height: 7em;
	overflow-y: auto;
	white-space: break-spaces;
}
