.node circle {
    fill: white;
    stroke: black;
    stroke-width: 3px;
}

.id {
    font: 12px sans-serif;
}

.name {
    font-size: 14px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
