name: Test

on: push

jobs:
  sqlite:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21

      - uses: actions/checkout@v6

      - run: mvn -B test

  mariadb:
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:12.1
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_DATABASE: test
        ports:
          - 3306:3306

    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21

      - uses: actions/checkout@v6

      - run: mvn -B test
        env:
          CONFIG_FILE: src/test/resources/mariadb.properties

  postgres:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_PASSWORD: example
        ports:
          - 5432:5432

    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21

      - uses: actions/checkout@v6

      - run: mvn -B test
        env:
          CONFIG_FILE: src/test/resources/postgres.properties
