/* 用于隐藏不需要的控件 */
.hide {
    display: none;
}

#tree-view {
    grid-area: tree-view;
}

#console {
    grid-area: console;
    border-radius: 5px;
}

#console-head {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
}

.tab-button {
    display: block;
    padding: 5px;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    text-align: center;
}

.tab-button.active {
    background: #0071ce;
    color: white;
}

#console > form {
    display: none;
    background-color: #fafafa;
    padding: 1px 16px;
}

#console > form.active {
    display: block;
}

.field {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

#actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #fafafa;
}

#list-result {
    overflow: auto;
}

#metadata {
    grid-area: metadata;
}

#sql {
    display: block;
    padding: 10px;
    height: 4em;
    border: solid 1px #eee;
    border-radius: 5px;
    background: #f7f7f7;
    white-space: break-spaces;
}
